.sidebar {
    background-color: #272c33;
    color: #d7d9e3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    padding: 15px;
    position: absolute;
    transition: all .2s;
    @media (min-width: 500px) {
        max-width: 210px;
        left: -210px;
    }
    &.on {
        left: 0;
        .toggle-sidebar {
            right: 10px;
            transform: rotate(0);
        }
    }
    .nombre-app {
        font-size: 2.4em;
        font-weight: 500;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #4e4e52;
    }
    .toggle-sidebar {
        color: #eee;
        background-color: #b85f55;
        border-radius: 50%;
        display: grid;
        z-index: 9;
        line-height: 50px;
        width: 50px;
        height: 50px;
        font-size: 30px;
        cursor: pointer;
        place-items: center;
        position: absolute;
        right: -50px;
        bottom: 50px;
        transform: rotate(180deg);
        transition: right 0.2s, transform 0.2s 0.3s;
        @media (min-width: 500px) {
            right: -25px;
        }
        > * {
            position: relative;
            left: -3px;
        }
    }
    .paginas {
        list-style: none;
        li {
            line-height: 50px;
            font-size: 1.2em;
            @media (min-width: 500px) {
                line-height: 40px;
                font-size: 1em;
            }
        }
    }
    a {
        color: inherit;
    }
    a.activo, a:hover {
        color: #fff;
    }
    .usuario {
        font-size: 24px;
        background-color: #d7d9e3;
        color: #272c33;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;       
        margin: 40px auto;
    }
}